* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

header,
footer {
    background-color: #1f2937;
    color: white;
}

button {
    background-color: #3882f6;
    color: white;
    padding: 6px 22px;
    border-radius: 6px;
    border: none;
}

/* TOP BANNER */
.top-banner {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.top-banner-nav,
.top-banner-cta {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

h1 {
    font-size: 1.3em;
}

ul {
    display: flex;
    column-gap: 18px;
}

li {
    list-style-type: none;
}

