* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

header,
footer {
    background-color: #1f2937;
    color: white;
}

button {
    background-color: #3882f6;
    color: white;
    padding: 6px 22px;
    border-radius: 6px;
    border: none;
}

/* TOP BANNER */
.top-banner {
    display: flex;
    flex-direction: column;
    max-width: 1080px;
    margin: auto;
    padding: 20px 15px;
    row-gap: 80px;
}

.top-banner-nav,
.top-banner-cta {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 1.3em;
}

ul {
    display: flex;
    column-gap: 18px;
}

li {
    list-style-type: none;
}

.top-banner-nav {
    align-items: baseline;
}

.top-banner-cta {
    align-items: flex-start;
    column-gap: 20px;
}
 
.left-cta {
    flex: 1 1;
}

.cta-head {
    font-size: 2.6em;
}

.cta-text {
    color: #e5e7eb;
    margin-top: 10px;
}

.cta-btn {
    font-weight: 700;
    margin-top: 20px;
}

.cta-img {
    height: 250px;
    width: auto;
    text-align: center;
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1;
}